<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.UserMapper">

	<select id="selectByLoginId" parameterType="string" resultType="User">
		 SELECT * FROM users
		 WHERE login_id = #{loginId} 
	</select>
	
<!--	以下　25-10-13追加分-->
	
	<select id="selectAll" resultType="User"> 
			SELECT * FROM users 
<!--			WHERE status = 'ACT'	 -->
	</select>
	
	<select id="selectById" parameterType="int" resultType="User">
			 SELECT * FROM users 
			 WHERE id = #{id} 
	</select>
	
	<update id="setDeleteById" parameterType="int"> 
			UPDATE users SET status = 'DEL' WHERE id = #{id} 
	</update>
	
	<insert id="insert" parameterType="User" useGeneratedKeys="true">
	 INSERT INTO users 
	 			(name, login_id, login_pass, user_type) 
	 VALUES (#{name},  #{loginId}, #{loginPass} ,#{userType}) </insert>
	
	<update id="update" parameterType="User">
			 UPDATE users 
			 SET	 	name = #{name},
			 		 		login_id = #{loginId},
			 		 		login_pass = #{loginPass},
			 		 		user_type = #{userType},
			 		 		register_at = #{registerAt}, 
			 		 		update_at = #{updateAt} 
			 WHERE id = #{id} 
	</update>
	
	<select id="selectLimited" resultType="User">
			 SELECT * FROM users 
<!--			 WHERE status = 'ACT' -->
			 LIMIT #{offset}, #{num} 
	</select>
	
	<select id="countActive" resultType="long"> 
			SELECT COUNT(*) FROM users 
<!--			WHERE status = 'ACT' -->
	</select>

</mapper>